@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    width: 100%;
}

ul,
li {
    list-style: none;
}

a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

button,
input[type="submit"] {
    background: #fff;
    border: none;
    box-shadow: 0 10px 10px -10px rgb(128, 128, 128);
    cursor: pointer;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 50px 0 75px 0;
}

main {
    background: rgba(235, 235, 235, 1);
    padding: 75px 10% 150px 10%;
}

header {
    background: #000;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding: 0 10%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .container {
        background: inherit;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        z-index: 10;

        button {
            display: none;
        }

        .logo {
            align-items: center;
            display: flex;
            color: #fff;
            justify-content: center;
            width: 75px;

            a {
                padding: 10px;

                svg {
                    fill: currentColor;
                }
            }
        }
    }

    nav {
        width: 50%;

        ul {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: flex-end;

            li {
                display: flex;
                margin: 0 10px;

                a {
                    padding: 10px;
                }
            }
        }
    }
}

footer {
    background: #000;
    display: flex;
    height: 150px;
    width: 100%;

    p {
        align-items: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        justify-content: center;
        width: 100%;

        span {
            font-size: 12px;
            font-weight: normal;
            margin: 5px 0 0 0;
        }
    }
}

.feed__container {
    display: flex;
    flex-direction: column;
    position: relative;

    > div {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        width: 100%;

        .refresh {
            border-radius: 50px;
            height: 50px;
            width: 50px;
        }
    }

    form {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

        > div {
            background: #fff;
            border-radius: 50px;
            box-shadow: 0 10px 10px -10px rgb(128, 128, 128);
            display: flex;
            width: 100%;
            
            &:has(input:focus) {
                background: rgba(200, 250, 200, .25);
            }

            input,
            button {
                background: transparent;
            }

            input {
                border: none;
                border-radius: 50px 0 0 50px;
                padding-left: 25px;
                width: 85%;

                &:focus {
                    outline: none;
                }
            }

            button {
                align-items: center;
                border-radius: 0 50px 50px 0;
                box-shadow: none;
                display: flex;
                height: 50px;
                justify-content: center;
                width: 15%;
            }
        }
    }

    .item {
        align-items: center;
        background: #fff;
        border-radius: 25px;
        box-shadow: 0 10px 10px -10px rgb(128, 128, 128);
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 5% 10% 15% 10%;

        &:not(:last-of-type) {
            margin-bottom: 25px;
        }

        img {
            padding-bottom: 5%;
            width: 50%;
        }

        .text {
            align-items: center;
            display: flex;
            flex-direction: column;

            h2 {
                margin-bottom: 25px;
            }

            p {
                &:nth-of-type(2) {
                    text-align: center;
                }
            }

            h2,
            p {
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }
    }
}

.gallery__container {
    display: flex;
    flex-direction: column;
    position: relative;

    div {
        &:first-of-type {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            padding: 0 10px;
            width: 100%;
        }

        .grid,
        .list,
        .add {
            border-radius: 50px;
            height: 50px;
            width: 50px;
        }

        .grid {
            margin-right: 10px;
        }

        .list {
            margin-left: 10px;
        }

        .add {
            margin-left: auto;

            svg {
                $size: 40px;
                height: $size;
                width: $size;
            }
        }
    }

    .pictures {
        $margin: 10px;

        display: flex;
        flex-wrap: wrap;
        margin: 0;

        .item {
            background: #fff;
            border-radius: 25px;
            box-shadow: 0 10px 5px -5px rgb(128, 128, 128);
            display: flex;
            justify-content: center;
            margin: $margin;
            overflow: hidden;
            position: relative;
            width: calc((100% / 2) - ($margin * 2));

            &::before {
                content: "";
                padding-top: 100%;
            }

            img {
                height: 100%;
                object-fit: cover;
                position: absolute;
            }
        }

        &.list {
            display: grid;

            .item {
                height: 175px;
                width: calc(100% - ($margin * 2));

                &::before {
                    content: none;
                }

                img {
                    width: 100%;
                    position: initial;
                }
            }
        }
    }
}

@media (width <= 767.98px) {
    main {
        padding-left: 16px;
        padding-right: 16px;
    }

    header {
        justify-content: center;
        padding-left: 16px;
        padding-right: 16px;

        .container {
            height: 100%;
            justify-content: center;
            position: absolute;

            button {
                background: transparent;
                border: none;
                box-shadow: none;
                display: flex;
                flex-direction: column;
                height: 75px;
                justify-content: center;
                left: 16px;
                position: absolute;
                width: 75px;

                span {
                    background: #fff;
                    border-radius: 50px;
                    height: 2px;
                    position: relative;
                    width: 37.5%;

                    transition: top .125s linear .125s, transform .125s linear;

                    &:nth-of-type(1) {
                        top: -5px;
                    }

                    &:nth-of-type(2) {
                        top: 5px;
                    }
                }
            }
        }

        nav {
            background: #222;
            left: 0;
            padding: 25px 0;
            opacity: 0;
            position: absolute;
            transform: translateY(-125px);
            width: 100%;

            transition: opacity .25s linear, transform .25s linear;

            ul {
                align-items: flex-start;
                flex-direction: column;
                justify-content: flex-start;

                li {
                    align-items: center;
                    display: flex;
                    height: 75px;
                    margin: 0;
                    padding: 0 16px;
                    position: relative;
                    width: 100%;

                    &:after {
                        border: 1px solid rgba(128, 128, 128, .75);
                        border-radius: 50px;
                        bottom: 0;
                        content: '';
                        left: 16px;
                        position: absolute;
                        right: 16px;
                    }

                    &:last-of-type {
                        &:after {
                            display: none;
                        }
                    }

                    a {
                        align-items: center;
                        display: flex;
                        height: 100%;
                        padding: 0;
                        width: 100%;
                    }
                }
            }
        }

        &.open {
            button {
                span {
                    transition: top .125s linear, transform .125s linear .125s;

                    &:nth-of-type(1) {
                        top: 1px;
                        transform: rotate(45deg);
                    }

                    &:nth-of-type(2) {
                        top: -1px;
                        transform: rotate(-45deg);
                    }
                }
            }

            nav {
                opacity: 1;
                transform: translateY(75px);

                transition: opacity .25s linear, transform .25s linear;
            }
        }
    }
}

@media (768px <= width <= 1199.98px) {
    header {
        background: blue;
    }
}