@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    width: 100%;
}

ul, li {
    list-style: none;
}

a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

main {
    background: #ffc2c2;
    height: 100vh;
    padding: 75px 0 150px 0;
}

header {
    background: #000;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding: 0 10%;
    position: fixed;
    top: 0;
    width: 100%;

    .logo {
        align-items: center;
        display: flex;
        color: #fff;
        justify-content: center;
        width: 75px;

        a {
            padding: 10px;

            svg {
                fill: currentColor;
            }
        }
    }

    nav {
        width: 50%;

        ul {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: flex-end;

            li {
                display: flex;
                margin: 0 10px;

                a {
                    padding: 10px;
                }
            }
        }
    }
}

footer {
    background: #000;
    bottom: 0;
    display: flex;
    height: 150px;
    position: absolute;
    width: 100%;

    p {
        align-items: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        justify-content: center;
        width: 100%;

        span {
            font-size: 12px;
            font-weight: normal;
            margin: 5px 0 0 0;
        }
    }
}